Package: pivtmailnotify
Architecture: all
Version: 0.0.2
Maintainer: Nikolay Zamotaev <fhunter@srv-1.dcti.sut.ru>
Depends: python3, python3-qtpy
Priority: optional
Homepage: https://github.com/fhunter/bonch_mailnotifier/
Description: Mail notification script for PIVT department

